@import './var.scss';
@import './mapbox.scss';
@import url('https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css');
@import "vue-select/src/scss/vue-select.scss";

html, body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.vue-slider-dot {
  top: -460% !important;
  width: 80px !important;
  height: 80px !important;
  .vue-slider-dot-handle {
    background-image: url('/static/crow.png');
    background-size: 80px;
    border-radius: 0;
    border: 0;
    background-color: transparent;
  }
}
.vue-slider-dot-handle-focus {
  box-shadow: none;
}
.vue-slider-process {
  background-color: $primer-color;
}
.vue-slider:hover .vue-slider-process {
  background-color: $primer-color;
}
